@model IEnumerable<SistemaManejoEmpleados.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DpidirectorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DpidirectorNavigation.Dpi)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdDireccion">Details</a>
                <a asp-action="Edit" asp-route-id="@item.IdDireccion">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDireccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
